.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 600px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  
  }
  
  .carousel-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    box-sizing: border-box;
    background: #f4f4f400;
    
    text-align: center;
  }
  
  .carousel-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .carousel-dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background: #ccc;
    border: none;
    cursor: pointer;
  }
  
  .carousel-dot.active {
    background: #333;
  }

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
  .carousel-arrow.left {
    left: 10px;
  }
  
  .carousel-arrow.right {
    right: 10px;
  }
  
  .carousel-arrow:hover {
    background: rgba(0, 0, 0, 0.8);
  }